* {
    box-sizing: border-box;
}


/* Background CSS */

html {
    background: url(../images/background.png);
}


/* Header CSS */

header {
    background-color: #fff;
    overflow: auto;
    width: 100%;
    border: solid;
    border-color: #ccc;
    border-width: .05px;
}

#nameLogo {
    background-color: #4aaaad;
    margin: -2.5px 0px 0px 80px;
    background-color: #4aaaad;
    color: #fff;
    padding: 20px;
    float: left;
    font-size: 25px;
    text-decoration: none;
}

nav {
    float: right;
    margin-top: 25px;
    margin-right: 5%;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    text-align: center;
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

nav a:hover {
    color: #4aaaad;
}

nav a:active {
    color: #4aaaad;
}


/* Site Headings CSS */

section {
    clear: both;
    width: 960px;
    margin: 40px 0px 20px 80px;
}

h1 {
    color: #4aaaad;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 30px;
    font-size: 25px;
    line-height: 1.75;
}

h2 {
    color: #4aaaad;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 30px;
    font-size: 25px;
    line-height: 1.75;
}

h3 {
    color: #4aaaad;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    font-size: 20px;
    line-height: 1.75;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: #ddd;
    width: 590px;
}


/*  Main Content Section */

.mainContent {
    float: left;
    background-color: #fff;
    border-color: #dddddd;
    border: solid;
    border-width: .05px;
    width: 650px;
    position: relative;
    margin-bottom: 40px;
    overflow: auto;
}

#bio-image {
    float: left;
    margin: 20px 20px 20px 30px;
    width: 200px;
    height: 300px;
}

.mainContent p {
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 20px 20px 20px 30px;
    line-height: 1.25;
}


/* Form CSS */

form {
    margin: 20px 20px 20px 30px;
    color: #777;
}

input,
textarea {
    padding: 7px;
    margin: 5px;
    width: 95%;
}

button {
    background-color: #4aaaad;
    padding: 10px;
    width: 100px;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

.portfolioImgs h3 {
    color: #fff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 30px;
    font-size: 20px;
    line-height: 1.75;
    position: absolute;
    padding: 10px;
    width: 230px;
    text-align: center;
    background: #4aaaad;
    margin-top: 120px;
}

.portfolioImgs div {
    float: left;
}

#image1 {
    margin: 20px;
    /*float: center;*/
    width: 250px;
    padding: 10px;
}

#image2 {
    margin: 20px;
    /*float: center;*/
    width: 250px;
    padding: 10px;
}

#image3 {
    margin: 20px;
    /*float: center;*/
    width: 250px;
    padding: 10px;
}

#image4 {
    margin: 20px;
    /*float: center;*/
    width: 250px;
    padding: 10px;
}

#image5 {
    margin: 20px;
    /*float: center;*/
    width: 250px;
    padding: 10px;
}


/* Social Media Sidebar */

.social {
    float: right;
    background-color: #fff;
    width: 270px;
    position: relative;
    border-color: #dddddd;
    border: solid;
    border-width: .05px;
}

.social hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: #ddd;
    width: 90%;
}

.icons {
    height: 55px;
    width: 55px;
    padding: 5px;
    display: inline-block;
    margin: 5px 5px 10px 5px;
}


/* New Footer CSS */

footer {
    clear: both;
    text-align: center;
    padding: 30px;
    background-color: #666;
    color: #fff;
    border-style: solid;
    border-top-width: 10px;
    border-color: #4aaaad;
}


/* Responsive Media Queries */

@media screen and (max-width: 980px) {
    .mainContent {
        width: 50%;
    }
    .social {
        float: left;
        width: 25%;
        margin-left: 25px;
    }
    ul {
        margin-left: 60%;
    }
    hr {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    #nameLogo {
        margin-left: 20px;
    }
    section {
        max-width: 768px;
        clear: both;
        margin: 40px 0px 20px 80px;
    }
    .mainContent {
        width: 95%;
        margin-left: -60px;
    }
    #bio-image {
        width: 90%;
    }
    .social {
        clear: both;
        width: 95%;
        margin-left: -60px;
        margin-bottom: 30px
    }
    .socialContent {
        float: left;
        margin-left: 5px;
    }
    ul {
        margin-left: 60%;
    }
    hr {
        width: 90%;
    }
}

@media screen and (max-width: 640px) {
    #nameLogo {
        background-color: #4aaaa5;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .mainContent {
        width: 45%;
    }
    nav {
    	/*margin-left: 23.5%;*/
    	margin-right: 20%;
    }
    nav a {
		padding: 0px 20px 20px 20px;
		display: inline-block;
    }
    #bio-image {
        width: 90%;
    }
    .social {
        width: 45%;
    }
    footer {
        width: 100%;
    }
}
